<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/index.css">
    <link rel="stylesheet" href="/stylesheets/css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="/dist/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/jquery-clockpicker.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/github.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style media="screen">
    .table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: #efeded
}
    </style>
    <style media="screen">
    .clockpicker-popover {
      z-index: 999999 !important;
    }
    </style>
    <title>ABSENCE PAGE</title>
  </head>
  <body>

    <div class="container-fluid">
      <% if (dataError) { %>
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>Awas!</strong> ID INI SUDAH ABSEN HARI INI
        </div>
      <% } %>

      <h2 class="text-center"><strong>Table Absence</strong></h2>
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-sm" id="modalAbsence">
          <i class="fa fa-user-plus"> Add New Absence</i>
        </button>
      </div>
      <div class="text-left">
        <a href="/absence/report">
        <button type="button" class="btn btn-primary">
        <i class="fa fa-book"> VIEW REPORT</i>
        </button>
        </a>
      </div>
      <br>
      <table class="table table-responsive table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Employee Name</th>
            <th>Keterangan Rule</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Position</th>
            <th colspan="2" class="text-center">OPTIONS</th>
          </tr>
        </thead>
        <tbody>
          <% dataAbsence.forEach(rows => { %>
            <tr>
              <td><%= rows.id %></td>
              <td><%= rows.Employee.first_name %> <%= rows.Employee.last_name %></td>
              <td><%= rows.Rule.ket_rules %></td>
              <td><%= rows.date %></td>
              <% if (rows.Rule.ket_rules == 'Sakit' || rows.Rule.ket_rules == 'Izin' || rows.Rule.ket_rules == 'Cuti') { %>
                <td>Tidak Hadir</td>
                <td>Tidak Hadir</td>
              <% } else { %>
                <td><%= rows.checkin %></td>
                <td><%= rows.checkout %></td>
              <% } %>
              <td><%= rows.JobPosition.name_position %></td>
              <td>
                <a href="/absence/edit/<%= rows.id %>">
                  <button type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-pencil"> Edit</i>
                  </button>
                </a>
              </td>
              <td>
                <a href="/absence/delete/<%= rows.id %>">
                  <button type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-trash"> Delete</i>
                  </button>
                </a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <!-- START OF MODAL ( FOR SMALL / LARGE JUST + modal-sm / modal-lg) -->

      <!-- ADD MODAL -->
      <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i></button>
              <!-- &times; -->
              <h4 class="modal-title">Form Add Absence</h4>
            </div>
            <!-- ACTION POST  WHEN SUBMIT-->
            <form class="" action="/absence" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="dateofbirth">Date: </label>
                  <input class="form-control" type="date" name="date">
              </div>
              <div class="form-group">
                <label>Select Employee :</label>
                  <select class="form-control" name="EmployeeId">
                    <% dataEmployee.forEach(rows => { %>
                    <option value="<%= rows.id %>"><%= rows.first_name %> <%= rows.last_name %></option>
                    <% }) %>
                  </select>
              </div>
              <div class="form-group">
                  <label>Select Rule :</label>
                    <select class="form-control" name="RuleId">
                      <% dataRule.forEach(rows => { %>
                      <option value="<%= rows.id %>"><%= rows.ket_rules %></option>
                      <% }) %>
                    </select>
                </div>
              <!-- TIME PICKER -->
              <div class="form-group">
                <label for="dateofbirth">Check In : </label>
            		<div class="clearfix">
                  <div class="input-group">
                    <input type="text" class="form-control clockpicker-modal" name="checkin" value="09:00">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
            		</div>
              <!-- TIME PICKER -->
              <br>
              <!-- TIME PICKER -->
              <div class="form-group">
                <label for="dateofbirth">Check Out : </label>
            		<div class="clearfix">
                  <div class="input-group">
                    <input type="text" class="form-control clockpicker-modal" name="checkout" value="18:00">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
            		</div>
                <br>
              <!-- TIME PICKER -->
              <div class="form-group">
                <label>Select Position :</label>
                  <select class="form-control" name="JobPositionId">
                    <% dataJobPosition.forEach(rows => { %>
                    <option value="<%= rows.id %>"><%= rows.name_position %></option>
                    <% }) %>
                  </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-lg" style="width:100%;"><i class="fa fa-plus"> Add </i></button>
            </div>
            </form>
            <!-- END OF ACTION POST WHEN SUBMIT -->
          </div>
        </div>
      </div>
      <!-- ADD MODAL -->

        <!-- END OF MODAL -->
    </div>

  </body>
  <script type="text/javascript" src="dist/bootstrap-clockpicker.min.js"></script>
  <script type="text/javascript">
  console.log('hahahaha');
  $('.clockpicker').clockpicker(function() {
    $(this).change(e => console.log(e))
  })
  $('#modalAbsence').click(function() {
    $('#addModal').modal('show');
  })
  $('#addModal').on('shown.bs.modal', function() {
    console.log('lol');
    $('.clockpicker-modal').clockpicker({
      autoclose: true
    })
  })
  </script>
</html>
