<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Halaman Report</title>
    <style media="screen">
    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #efeded
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center"><strong>Table Report Payment</strong></h2>
      <form class="" action="/absence" method="post">
      <div class="modal-body">
        <div class="form-group">
          <label for="dateofbirth">Date: </label>
            <input class="form-control" type="date" name="date">
        </div>
        <div class="form-group">
          <label>Select Employee :</label>
            <select class="form-control" name="EmployeeId">
              <% dataEmployee.forEach(rows => { %>
              <option value="<%= rows.id %>"><%= rows.first_name %> <%= rows.last_name %></option>
              <% }) %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-sm" style="width:20%;"><i class="fa fa-plus"> Cari </i></button>
      </form>
      <br><br><br>
      <table class="table table-responsive table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>DATE</th>
            <th>Employee Name</th>
            <th>Salary</th>
            <th>Deduction</th>
            <th>Total</th>
            <th colspan="2" class="text-center">OPTIONS</th>
          </tr>
        </thead>
        <tbody>
          <% dataAbsence.forEach(rows => { %>
            <tr>
              <td><%= rows.id %></td>
              <td><%= rows.date %></td>
              <td><%= rows.Employee.first_name %> <%= rows.Employee.last_name %></td>
              <td><%= rows.JobPosition.salary %></td>
              <td><%= rows.Rule.deduction %></td>
              <td>TOTAL GAJI</td>
              <td>
                <a href="/absence/edit/<%= rows.id %>">
                  <button type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-pencil"> Edit</i>
                  </button>
                </a>
              </td>
              <td>
                <a href="/absence/delete/<%= rows.id %>">
                  <button type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-trash"> Delete</i>
                  </button>
                </a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
